
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://img.freepik.com/free-photo/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product_1258-54682.jpg?size=338&ext=jpg&ga=GA1.1.1224184972.1712102400&semt=ais");
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure the background covers the whole viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
  }